/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  color: black;
  background: white;
  margin-top: 95px;
}
@media (min-width: 1024px) {
  body {
    margin-top: 0;
  }
}
.row {
  padding: 10vh 0;
  text-align: center;
}
@media (min-width: 768px) {
  .row {
    padding: 10vh 10%;
  }
}
@media (min-width: 1024px) {
  .row {
    padding: 10vh 20%;
  }
}
.row:last-child {
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}
.desktop-only {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: initial;
  }
}
.col-33 {
  width: 100%;
}
.col-50 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-33 {
    width: 33.33333333%;
  }
  .col-50 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .br {
    display: none;
  }
}
.copy {
  margin-bottom: 1em;
  padding: 0 5%;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .copy {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .copy {
    font-size: 16px;
    padding: 0 10%;
  }
}
.copy--last {
  margin-bottom: 0;
}
.copy--headline {
  font-weight: normal;
  margin-bottom: 0;
}
.h1,
h2 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-weight: normal;
  margin-bottom: 5vh;
  font-size: 9vw;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .h1,
  h2 {
    font-size: 7vw;
  }
}
@media (min-width: 1024px) {
  .h1,
  h2 {
    font-size: 2.5vw;
  }
}
@media (min-width: 1024px) {
  .h1 {
    font-size: 7vw;
  }
}
.h2 {
  padding: 0 5%;
}
@media (min-width: 1024px) {
  .h2 {
    padding: 0 15%;
  }
}
.icon {
  margin: 0 auto;
  padding-bottom: 5vh;
  display: block;
  width: 10%;
}
@media (min-width: 1024px) {
  .icon {
    width: 5%;
  }
}
.icon--double {
  width: 20%;
}
@media (min-width: 1024px) {
  .icon--double {
    width: 10%;
  }
}
.image-wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5vh;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 768px) {
  .image-wrapper {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.image {
  height: 100%;
}
.image--round {
  padding: 0 5%;
  width: 90%;
  margin-bottom: 5vh;
  -webkit-clip-path: circle(45% at 50% 50%);
          clip-path: circle(45% at 50% 50%);
}
@media (min-width: 1024px) {
  .image--round {
    padding: 30px 30%;
    width: 40%;
    -webkit-clip-path: circle(25% at 50% 50%);
            clip-path: circle(25% at 50% 50%);
  }
}
.image--slide {
  width: 100%;
  height: initial;
}
.image--signature {
  display: block;
  margin: 5vh auto;
  width: 60%;
}
@media (min-width: 1024px) {
  .image--signature {
    width: 30%;
  }
}
.swiper-button-prev {
  background-image: url("../images/pfeil_links.png");
}
.swiper-button-next {
  background-image: url("../images/pfeil_rechts.png");
}
.swiper-pagination-bullet-active {
  background: #ffffff;
}
.logo {
  width: 120px;
  background-image: url(images/logo_schwarz.png);
}
.menu {
  position: absolute;
  top: 100%;
  right: -100vw;
  padding: 5%;
  width: 90%;
  text-align: right;
  background: white;
  transition: 0.5s;
}
@media (min-width: 1024px) {
  .menu {
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    text-align: left;
    background: transparent;
  }
}
.menu-toggle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 1024px) {
  .menu-toggle {
    display: none !important;
  }
}
.menu-checkbox:checked ~ nav {
  right: 0;
}
.menu-checkbox:checked ~ .menuicon .menuicon__line--top {
  top: 10px;
  transform: rotate(45deg);
}
.menu-checkbox:checked ~ .menuicon .menuicon__line--middle {
  opacity: 0;
}
.menu-checkbox:checked ~ .menuicon .menuicon__line--bottom {
  top: 10px;
  transform: rotate(-45deg);
}
.menu__item {
  display: block;
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
@media (min-width: 1024px) {
  .menu__item {
    font-size: 16px;
    line-height: 1.5vw;
  }
}
.menu__item--white {
  color: white;
}
.menu__item--selected {
  color: #b4a050;
}
.menuicon {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 18px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  transform: rotate(0deg);
}
.menuicon__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000000;
  transition: 0.25s ease-in-out;
}
.menuicon__line--top {
  top: 0;
}
.menuicon__line--middle {
  top: 8px;
}
.menuicon__line--bottom {
  top: 16px;
}
.line {
  margin: 0 auto;
  display: block;
  width: 15%;
  height: 2px;
  /* background-image: url(../images/03_wellen_trenner_grau.png);  */
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (min-width: 1024px) {
  .line {
    width: 5%;
  }
}
.line--menu {
  display: none;
  width: 100%;
  height: 15px;
  background-image: url(../images/02_wellen_schwarz_neu.png);
  background-color: transparent;
}
@media (min-width: 1024px) {
  .line--menu {
    display: block;
  }
}
.line--menu--white {
  background-image: url(../images/04_wellen_weiss_neu.png);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5%;
  width: 90%;
  background: white;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 100;
}
@media (min-width: 1024px) {
  .header {
    right: 0;
    margin: 5% 0 0 85%;
    padding: 0;
    width: 15%;
    height: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    background: transparent;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  .header__item {
    width: 100%;
  }
}
.header__line {
  display: none;
}
.hero {
  margin-bottom: 5vh;
}
@media (min-width: 1024px) {
  .hero {
    position: relative;
    height: 100vh;
    margin: 0;
  }
}
.hero__inner {
  padding: 0;
}
@media (min-width: 1024px) {
  .hero__inner {
    color: white;
    width: 40%;
    height: 100vh;
    padding-left: 10%;
  }
}
.hero__background {
  width: 100%;
  height: 70vh;
  background-image: url("../images/03_visual_home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
@media (min-width: 1024px) {
  .hero__background {
    position: absolute;
    height: 100%;
    z-index: -10;
  }
}
.hero__headline {
  padding: 5vh 5% 0;
}
@media (min-width: 1024px) {
  .hero__headline {
    text-align: left;
    padding: 10% 0 0;
  }
}
@media (min-width: 1024px) {
  .hero__copy {
    text-align: left;
    padding: 0;
  }
}
.footer {
  padding: 2.5vh 0;
  background: #eeeeee;
  text-transform: uppercase;
}
.footer__headline {
  font-weight: normal;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: black;
}
@media (min-width: 1024px) {
  .footer__headline {
    margin: 0;
  }
}
.footer__section {
  margin-bottom: 1em;
}
@media (min-width: 1024px) {
  .footer__section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.footer__row {
  display: block;
  text-align: center;
}
@media (min-width: 1024px) {
  .footer__row {
    display: inline;
  }
  .footer__row::after {
    content: "·";
    display: inline;
    margin: 0.3em;
  }
  .footer__row:last-child::after {
    display: none;
  }
}
.footer__row--no-dot {
  margin: 0 0.3em;
}
.footer__row--no-dot::after {
  display: none;
}
.footer__item {
  display: inline;
  margin: 0;
  padding: 0;
}
.footer__item--highlight {
  color: #b4a050;
  text-decoration: none;
}
.footer__item::after {
  content: "·";
  margin: 0.3em;
}
.footer__item:last-child::after {
  display: none;
}
.footer__facebook {
  display: block;
  margin: 2.5vh auto 0;
  width: 33px;
  height: 33px;
  background-image: url(../images/facebook.png);
}
.gmaps {
  width: 100%;
  height: 100vw;
}
@media (min-width: 1024px) {
  .gmaps {
    height: 75vh;
  }
}
.imprint-row {
  padding: 5vh 0;
}
@media (min-width: 768px) {
  .imprint-row {
    padding: 5vh 10%;
  }
}
@media (min-width: 1024px) {
  .imprint-row {
    padding: 5vh 20%;
  }
}
.imprint-row:last-child {
  margin-bottom: 0;
}
.button {
  width: 10px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.45), 0 0 0 1px rgba(0, 0, 0, 0.3);
}
