.button {
    width: 10px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.1);
    transition: 1s;

    &:hover {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.45), 0 0 0 1px rgba(0,0,0,0.3); 
    }
}