.copy {
    margin-bottom: 1em;
    padding: 0 5%;
    font-family: @fontFamilySans;
    font-size: @font320;
    text-align: center;
    font-weight: lighter;
    
    @media (min-width: 768px){
        font-size: @font768;
    }

    @media (min-width: 1024px){
        font-size: @font1024;
        padding: 0 10%;
    }

    &--last {
        margin-bottom: 0;
    }
    &--headline {
        font-weight: normal;
        margin-bottom: 0;
    }
}