.footer {
    padding: 2.5vh 0;
    background: @lightGrey;
    text-transform: uppercase;
    
    &__headline {
        font-weight: normal;
        display: block;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        color: black;
        @media (min-width: 1024px){
            margin: 0;
        }
    }

    &__section {
        margin-bottom: 1em;

        @media (min-width: 1024px){
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }

    &__row {
        display: block;
        text-align: center;

        @media (min-width: 1024px){
            display: inline;

            &::after {
                content: "·";
                display: inline;
                margin: 0.3em;
            }
            &:last-child::after {
                display: none;
            }
        }

        &--no-dot {
            margin: 0 0.3em;
            &::after {
                display: none;
            }
        }
    }

    &__item {
        display:inline;
        margin: 0;
        padding: 0;

        &--highlight {
            color: @gold;
            text-decoration: none;
        }

        &::after {
            content: "·";
            margin: 0.3em;
        }
        &:last-child::after {
            display: none;
        }
    }

    &__facebook {
        display: block;
        margin: 2.5vh auto 0;
        width: 33px;
        height: 33px;
        background-image: url(../images/facebook.png);
    }
}