@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
body {
    color: black;
    background: white;
    margin-top: 95px;
    @media (min-width: 1024px){
        margin-top: 0;
    }
}