.h1, h2 {
    font-family: @fontFamilySerif;
    text-align: center;
    font-weight: normal;
    margin-bottom: 5vh;
    font-size: @fontHeader320;
    line-height: 1.2em;

    @media (min-width: 768px){
        font-size: @fontHeader768;
    }

    @media (min-width: 1024px){
        font-size: @fontHeader1024;
    }
}
.h1 {
    @media (min-width: 1024px){
        font-size: @fontHeader768;
    }
}
.h2 {
    padding: 0 5%;
    @media (min-width: 1024px){
        padding: 0 15%;
    }
}