.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px 5%;
    width: 90%;
    background: white; 
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    @media (min-width: 1024px){
        right: 0;       
        margin: 5% 0 0 85%;
        padding: 0;
        width: 15%;
        height: 0;
        flex-direction: column;
        background: transparent;
        align-items: flex-start;
    }

    &__item {
        @media (min-width: 1024px){
            width: 100%;
        }
    }
    &__line {
        display: none;
    }
}