.row {
    padding: 10vh 0;
    text-align: center;
    @media (min-width: 768px){
        padding: 10vh 10%; 
    }
    @media (min-width: 1024px){
        padding: 10vh 20%; 
    }

    &:last-child {
        margin-bottom: 0;
    }
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.mobile-only {
    @media (min-width: 1024px){
        display: none !important;
    }
}
.desktop-only {
    display: none;

    @media (min-width: 1024px){
        display: initial;
    }
}

.col-33 {
    width: 100%;
}
.col-50 {
    width: 100%;
}

@media (min-width: 768px){ 
    .col-33 {
        width: 1/3*100%;
    }
    .col-50 {
        width: 50%;
    }
}

.br {
    
    @media (min-width: 768px){ 
        display: none;
    }
}