.hero {
    margin-bottom: 5vh;
    @media (min-width: 1024px) {
        position: relative;
        height: 100vh;
        margin: 0;
    }
    &__inner {
        padding: 0;

        @media (min-width: 1024px) {
            color: white;
            width: 40%;
            height: 100vh;
            padding-left: 10%;
        }
    }

    &__background {
        width: 100%;
        height: 70vh;
        background-image: url("../images/03_visual_home.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

        @media (min-width: 1024px) { 
            position: absolute;
            height: 100%;
            z-index: -10;
        }
    }

    &__headline {
        padding: 5vh 5% 0;

        @media (min-width: 1024px) {
            text-align: left;
            padding: 10% 0 0; 
        }
    }

    &__copy {
        @media (min-width: 1024px) {
            text-align: left;
            padding: 0;
        }
    }
}