.icon {
    margin: 0 auto;
    padding-bottom: 5vh;
    display: block;
    width: 10%;
    
    @media (min-width: 1024px){
        width: 5%;
    }
}
.icon--double {
    width: 20%;

    @media (min-width: 1024px){
        width: 10%;
    }
}