.image-wrapper {
    display: flex;
    margin-bottom: 5vh;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.image {
    height: 100%;

    &--round {
        padding: 0 5%;
        width: 90%;
        margin-bottom: 5vh;
        clip-path: circle(45% at 50% 50%);

        @media (min-width: 1024px){
            padding: 30px 30%;
            width: 40%;
            clip-path: circle(25% at 50% 50%);
        }
    }
    &--slide {
        width: 100%;
        height: initial;
    }
    &--signature {
        display: block;
        margin: 5vh auto;
        width: 60%;

        @media (min-width: 1024px){
            width: 30%;
        }
    }
}
