.imprint-row {
        padding: 5vh 0;
        @media (min-width: 768px){
            padding: 5vh 10%; 
        }
        @media (min-width: 1024px){
            padding: 5vh 20%; 
        }
    
        &:last-child {
            margin-bottom: 0;
        }
    }