//default color is black
.line {
    margin: 0 auto;
    display: block;
    width: 15%;
    height: 2px;
    /* background-image: url(../images/03_wellen_trenner_grau.png);  */
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @media (min-width: 1024px){
        width: 5%; 
    }

    &--menu {
        display: none;
        width: 100%;
        height: 15px;
        background-image: url(../images/02_wellen_schwarz_neu.png);
        background-color: transparent;

        @media (min-width: 1024px){
            display: block;
        }

        &--white {
            background-image: url(../images/04_wellen_weiss_neu.png);
        }
    }
}