.link {
    font-family: @fontFamilySans;
    text-align: center;
    font-size: @fontMedium;
    color: @gold;
    display: block;

    @media (min-width: 768px){
        font-size: @fontMediumTablet;
    }
    
    @media (min-width: 1024px){
        font-size: @fontMediumDesktop;
    }
}