.menu{
    position: absolute;
    top: 100%;
    right: -100vw;
    padding: 5%;
    width: 90%;
    text-align: right;
    background: white;
    transition: 0.5s;

    @media (min-width: 1024px){
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        text-align: left;
        background: transparent;
    }
    &-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media (min-width: 1024px){
            display: none !important;
        }
    }
    &-checkbox {
        &:checked {
            &~ nav {
                right: 0;
            }

            ~ .menuicon {
                .menuicon__line {
                    &--top {
                        top: 10px;
                        transform: rotate(45deg);
                    }

                    &--middle {
                        opacity: 0;
                    }
    
                    &--bottom {
                        top: 10px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    &__item {
        display: block;
        margin: 10px 0;
        font-size: @font320;
        line-height: 1.2em;
        text-decoration: none;
        text-transform: uppercase;
        color: black;

        @media (min-width: 1024px){
            font-size: @font1024;
            line-height: 1.5vw;
        }

        &--white {
            color: white;
        }
        &--selected {
            color: @gold;
        }
    }
}

.menuicon {
    position: relative;
    display: flex;
    width: 22px;
    height: 18px;
    flex-direction: column;
    justify-content: space-around;
    transform: rotate(0deg);

    &__line {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000000;
        transition: .25s ease-in-out;

        &--top {
            top: 0;   
        }
        &--middle {
            top: 8px;
        }
        &--bottom {
            top: 16px;
        }
    }
}