@fontFamilySerif:'Cormorant Garamond', serif;
@fontFamilySans:'Work Sans', sans-serif;
@fontHeader320: 9vw;
@fontHeader768: 7vw;
@fontHeader1024: 2.5vw;

@font320: 15px;
@font768: 18px;
@font1024: 16px;


@gold: #b4a050;
@lightGrey: #eeeeee;